{% extends "base.html" %}
{% block title %}Welcome to {% endblock %}
{% block content %}
    <br /><br />
    <div id="ShowProfile">
        <h2>Listing {{ list_id }}</h2>
        <h3>{{ listing.name }}</h3>
        <p>${{ listing.price }}</p>
        <p>{{ listing.description }}</p>
    </div>
     <a href={{ url_for('index') }} class="btn btn-primary">Show All</a></button><br />
     <a href={{ url_for('listing_edit', listing_id=listing.id) }} class="btn btn-primary">Edit Listing</a><br />
    <a href={{ url_for('listing_delete', listing_id=listing.id) }} class="btn btn-danger">Delete Listing</a>

    <br /><br />
{% endblock %}